html, body {
  height: 100%;
  width: 100%;
}

html {
  font: 20px/1.5 "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background-color: #efd984;
  color: #2a1710;
}

.screen {
  height: 100%;
  width: 100%;
}

.screen-header {
  /* background-color: #111; */
  border-bottom: 2px solid #2a1710;
  height: 110px;
  position: relative;
}

.screen-header__logo {
  bottom: 7px;
  font-family: "MF YaYuan (Noncommercial)";
  left: 7px;
  line-height: 1;
  position: absolute;
  top: 7px;
  width: 400px;
}

.screen-header__logo__title,
.screen-header__logo__subtitle {
  position: absolute;
}

.screen-header__logo__title {
  font-size: 60px;
  letter-spacing: 10px;
}

.screen-header__logo__subtitle {
  bottom: 0;
  font-size: 30px;
  letter-spacing: 14px;
}

.screen-header__datetime {
  font-family: "MF YaYuan (Noncommercial)";
  font-size: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.datetime__time {
  font-family: "MF YaYuan (Noncommercial)";

  position: absolute;
  right: 200px;
  top: -3px;

  width: 300px;
}

.datetime__time,
.datetime__date,
.datetime__weekday {
  display: block;
}

.datetime__time__hour:after {
  content: ":";
}

.datetime__time__hour,
.datetime__time__minute {
  font-size: 110px;
}

.datetime__date__day,
.datetime__date__month,
.datetime__weekday {
  font-size: 48px;
}

.datetime__date {
  position: absolute;
  right: 15px;
  text-align: right;
  top: 5px;
  width: 160px;
}

.datetime__weekday {
  position: absolute;

  /*
   * 为了和上边的日期宽度相称, 需要 6px 的 letter-spacing, 宽度就会多出来 6px.
   * 需要补偿
   */
  right: 9px;  /* 15 - 6 */
  text-align: right;
  letter-spacing: 6px;
  top: 55px;
  width: 166px;  /* 160 + 6 */
}

.datetime__weekday:before {
  content: "星期";
  display: inline;
}

.datetime__date__month:after {
  content: "月";
}

.datetime__date__day:after {
  content: "日";
}

.datetime__date__month:after,
.datetime__date__day:after {
  font-size: 28px;
}

.content-container {
  position: absolute;
  top: 112px;
  bottom: 0;
  width: 100%;
}

.current-article {
  float: right;
  width: 75%;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0.5em;
  text-indent: 2em;
}

.current-article__title {
  font-size: 150%;
  font-weight: bold;
  margin: 0 0 0.2em 20px;
}

.current-article__qrcode {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 0.5em 0 0;
}

.article-nav {
  /* background-color: #111; */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;

  border-right: 2px solid #2a1710;
  float: left;
  width: 25%;
  height: 100%;
}

.article-nav__current-site,
.article-nav__sites-container {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;

  height: 50%;
  overflow: hidden;
}

.article-nav__current-site {
  border-bottom: 2px solid #2a1710;
}

.current-site__site-name-container,
.current-site__news-items-container,
.article-nav__sites-container {
    overflow: hidden;
    position: relative;
}

.current-site__site-name,
.current-site__news-items,
.article-nav__sites {
  position: relative;

  /* 设置动画效果的初始值, 否则第一次不会触发渐变效果 */
  top: 0;
  left: 0;
}

.current-site__site-name,
.article-nav__sites__site {
  font-family: "MF YueHei (Noncommercial)";
  font-size: 150%;
  padding: 0.2em 0 0.2em 0.25em;
}

.current-site__site-name-container {
  background-color: #2a1710;
  color: #efd984;
}

.current-site__news-items__item {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 0px 2px 4px;
}

.screen-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;

  font-family: "MF YaYuan (Noncommercial)";
  font-size: 12px;
  line-height: 1.2;

  padding: 6px 4px 6px 10px;
  border-radius: 8px;
  background-color: rgba(239, 217, 132, 0.875);
  box-shadow: 0px 0px 2px rgba(239, 217, 132, 0.875);
}

.screen-footer > a {
  display: inline-block;
  border-bottom: 1px solid rgba(42, 23, 16, 0.875);

  /* 为了不影响高度计算 */
  margin: 0 0 -1px 0;
}


/* vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: */
